name: SBOM scans

on:
  push:
    branches:
      - main

permissions:
  actions: read
  contents: write
  security-events: write
  packages: write

jobs:
  sbom:
    name: SBOM
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Update Dependency Graph
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: "fs"
          scan-ref: "."
          format: "github"
          output: "dependency-results.sbom.json"
          github-pat: ${{ secrets.GITHUB_TOKEN }}
      - name: Generate Sarif Report
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: "fs"
          scan-ref: "."
          format: "sarif"
          output: "trivy-results.sarif"
          github-pat: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload Sarif to GitHub
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: "trivy-results.sarif"
