name: SBOM scans

on:
  push:
    branches:
      - main
    release:
    types:
      - published

permissions:
  actions: read
  contents: write
  security-events: write
  packages: write

jobs:
  sbom:
    name: SBOM
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Update Dependency Graph
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: "fs"
          scan-ref: "."
          format: "github"
          output: "dependency-results.sbom.json"
          github-pat: ${{ secrets.GITHUB_TOKEN }}
      - name: Generate Sarif Report
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: "fs"
          scan-ref: "."
          format: "sarif"
          output: "trivy-results.sarif"
          github-pat: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload report to GitHub
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: "trivy-results.sarif"

  release:
    name: Release
    runs-on: ubuntu-24.04
    if: github.event_name == 'release'
    steps:
      - uses: actions/checkout@v6
      - name: Generate CycloneDX SBOM
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: fs
          scan-ref: .
          format: cyclonedx
          output: ns8-ui-lib.cdx.json
      - name: Attach SBOM Release
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh release upload ${{ github.event.release.tag_name }} ns8-ui-lib.cdx.json
